<app-nav></app-nav>
<!-- Success Message -->
<div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
  {{ successMessage }}
  <button type="button" class="btn-close" (click)="successMessage = null" aria-label="Close"></button>
</div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  {{ errorMessage }}
  <button type="button" class="btn-close" (click)="errorMessage = null" aria-label="Close"></button>
</div>
<div class="container mt-4">
   <div class="d-flex  justify-content-center align-items-center mb-4">
    <h2 class="mb-0">Available Books</h2>
   </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td>{{ (pnum - 1) * psize + i + 1 }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.quantity }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2" routerLink="/editBook/{{book.id}}">Edit</button>
            <!-- <button [routerLink]="['/editBook', book.id]" class="btn btn-primary btn-sm me-2">Edit</button> -->

            <button class="btn btn-danger btn-sm" (click)="confirmDelete(book.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pnum === 1">
        <button class="page-link" (click)="getallBooks(pnum - 1)" [disabled]="pnum === 1">Previous</button>
      </li>

      <li
        class="page-item"
        *ngFor="let page of [].constructor(Math.ceil(totalCount / psize)); let i = index"
        [class.active]="pnum === i + 1"
      >
        <button class="page-link" (click)="getallBooks(i + 1)">{{ i + 1 }}</button>
      </li>

      <li class="page-item" [class.disabled]="pnum === Math.ceil(totalCount / psize)">
        <button class="page-link" (click)="getallBooks(pnum + 1)" [disabled]="pnum === Math.ceil(totalCount / psize)">Next</button>
      </li>
    </ul>
  </nav>
</div>
