.book-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.book-image {
  height: 200px;
  object-fit: contain; /* يعرض الصورة كاملة حتى لو فيها فراغ */
  padding: 10px;
}
