<app-header></app-header>

<div class="container mt-4">
  <h2 class="mb-4 text-center">My Borrowed Books</h2>

  <div class="row" *ngIf="borrowedBooks.length > 0; else noBooks">
    <div *ngFor="let book of borrowedBooks" class="col-12 col-md-4 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ book.bookName }}</h5>
          <p class="card-text">Status: {{ book.statusBook }}</p>
          <button class="btn btn-warning"  (click)="returnBook(book)">Return</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noBooks>
    <p class="text-center">You have no borrowed books.</p>
  </ng-template>
</div>
